@*@model ComputerRepairShop.Data.Models.Customer*@
@model ComputerRepairShop.Web.ViewModels.DashboardPostViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DashBoard</title>
</head>
<body>
    <div>
        <h4>RepairOrder</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OpenOrders)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RepairOrders)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StatusCount)
            </dt>
    
        </dl>
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
