@*@model ComputerRepairShop.Data.Models.Customer*@
@model ComputerRepairShop.Web.ViewModels.DashboardPostViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
        @Html.Partial("_CardSelect", Model)


</body>
</html>
