@model ComputerRepairShop.Web.ViewModels.RepairOrderViewModel

@using ComputerRepairShop.ClassLibrary.Const;
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RepairOrder</h4>
    <hr />

    @if (!User.IsInRole(RoleNames.Customer))
    {
        @Html.Partial("_PartsDetail", Model);
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    @Html.ActionLink("Back to List", "Index")
</p>
