@model IEnumerable<>
@{
    ViewBag.Title = "Index";
}

<h2>Reperatie Opdrachten</h2>
<table>
    <thead>
        <th> Name </th>
        <th>status</th>
        <th>start date</th>
        <th>end date</th>

    </thead>

    @foreach (var item in Model)
    {
       <tr> 
        <td></td>
        <td></td>
        <td></td>
       </tr>
    }
</table>

