@model IEnumerable<ComputerReperatieShop.Data.Models.RepairOrder>
@{
    ViewBag.Title = "Index";
}

<h2>Reperatie Opdrachten</h2>
<table>
    <thead>
        <th> Name </th>
        <th>status</th>
        <th>start date</th>
        <th>end date</th>

    </thead>

    @foreach (var item in Model)
    {
       <tr> 
        <td>item.Name</td>
        <td>item.Status</td>
        <td>item.StartDate</td>
        <td>item.EndDate</td>
       </tr>
    }
</table>

