.DateDue {
    background-color: #ff3333;
}

/*
    RepairOrderStatus
*/
.Pending {
    background-color:brown;
}
.Underway {
    background-color: aqua;
}
.WaitingForParts {
    background-color:blue;
}
.Done {
    background-color: coral;
}
